*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video, canvas) {
  max-inline-size: 100%;
  block-size: auto;
}
